body {
    width: 1000px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 15px;
    margin-bottom: 130px;
}

header figure {
    display: grid;
    grid-template-columns: 30px 30px auto;
    margin: 0;
}

header figure img {
    width: 30px;
    height: 30px;
}

header figure figcaption {
    color: #3e3f43;
    font-size: 24px;
    font-weight: normal;
    font-family: Nunito;
    margin-left: 10px;
}

header nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: #222222;
    font-family: Nunito;
    font-size: 16px;
}

header nav a.active {
    color: #daa520;
    font-weight: bold;
}

header nav a.button {
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #3e3f43;
    border-radius: 8px;
    width: 137px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

section#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section#main div span {
    color: #222222;
    font-family: Nunito;
    font-size: 36px;
}

section#main div h1 {
    color: #313235;
    font-family: Nunito;
    font-weight: bold;
    font-size: 72px;
}

section#main div a {
    font-family: Nunito;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
    width: 175px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: block;
    background-color: #daa520;
    line-height: 50px;
}

.sectionHeader {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    margin: 50px 0px;
}

.sectionHeader > .text1Block {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.sectionHeader > .text1Block > img {
    width: 30px;
    height: 30px;
}

.sectionHeader > .text1Block > span {
    font-family: Nunito;
    font-size: 36px;
    font-weight: 700;
    color: rgba(62, 63, 67, 1);
    margin: 0px;
}

.sectionHeader > .line {
    box-sizing: border-box;
    width: auto;
    height: 1px;
    border: none;
    background-color: #000000;
    margin: 0px 14px;
}

.sectionHeader > .text2 {
    font-family: Nunito;
    font-size: 72px;
    font-weight: 800;
    color: rgba(34, 34, 34, 0.1);
    margin: 0px;
}

section#about > .articleBlock {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

section#about > .articleBlock > .article1 {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

section#about > .articleBlock > .article1 > .imageBlock {
    display: grid;
    grid-template-columns: 10px auto;
    align-items: end;
}

section#about > .articleBlock > .article1 > .textBlock {
    margin: 0px 0px 0px 60px;
    justify-self: end;
}

section#about > .articleBlock > .article1 > .textBlock > header {
    display: inline-block;
    font-family: Nunito;
    font-size: 36px;
    font-weight: 400;
    margin: 0px;
}

section#about > .articleBlock > .article1 > .textBlock > p {
    margin: 0px;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 600;
}

section#about > .articleBlock > .article2 {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

section#about > .articleBlock > .article2 > .textBlock > header {
    margin: 0px;
    display: inline-block;
    font-family: Nunito;
    font-size: 36px;
    font-weight: 400;
}

section#about > .articleBlock > .article2 > .textBlock > p {
    margin: 0px;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 600;
}

section#how > .contentBlock {
    display: grid;
    grid-row: 1fr auto;
}

section#how > .contentBlock > .imageContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
}

section#how > .contentBlock > .imageContainer > .column {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto;
}

section#how > .contentBlock > .imageContainer > .column > .number {
    margin: 0px;
    font-family: Nunito;
    font-weight: 600;
    font-size: 96px;
    color: rgba(249, 189, 189, 0.25);
    justify-self: end;
    align-self: end;
}

section#how > .contentBlock > .imageContainer > .column > .text {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-self: center;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    margin: 0px;
}

section#how > .contentBlock > .button {
    justify-self: center;
    box-sizing: border-box;

    background-color: rgba(218, 165, 32, 1);
    color: #ffffff;
    font-family: Nunito;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 60px;
    padding: 14px 24px;
}
section#categories > .categoriesBlock {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
}

section#categories > .categoriesBlock > .category {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 280px;
    height: 400px;
}

section#categories > .categoriesBlock > .category > .imgBlock {
    justify-self: center;
    align-self: center;
}

section#categories > .categoriesBlock > .Pink {
    background: url("../img/pink.svg");
    background-repeat: no-repeat;
}

section#categories > .categoriesBlock > .Yellow {
    background: url("../img/yrect.svg");
    background-repeat: no-repeat;
}
section#categories > .categoriesBlock > .Blue {
    background: url("../img/brect.svg");
    background-repeat: no-repeat;
}

section#categories > .categoriesBlock .name {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 800;
    margin: 24px 0px 0px 24px;
}

section#categories > .categoriesBlock .button {
    justify-self: end;
    margin: 0px 24px 26px 0px;
}

section#categories > .categoriesBlock .buttonText {
    display: inline;
    align-self: center;
    font-family: Nunito;
    padding: 8px 20px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #3e3f43;
    box-sizing: border-box;
}

section#testimony > .container {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 1fr auto auto;
    column-gap: 50px;
}

section#testimony > .container > .commentBlock {
    border: 1px solid #a8dcec;
    box-sizing: border-box;
}

section#testimony > .container > .apartment {
    grid-row: 1/3;
}

section#testimony > .container > .navBlock {
    grid-column: 3/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

section#testimony > .container > .navBlock .prevText {
    margin: 0px;
    display: inline;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    color: rgba(196, 196, 196, 1);
}

section#testimony > .container > .navBlock > .next {
    justify-self: end;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    color: rgba(62, 63, 67, 1);
}

section#testimony > .container > .navBlock .nextText {
    margin: 0px;
    display: inline;
}

section#testimony > .container > .commentBlock {
    display: grid;
    grid-template-rows: 1fr auto auto auto 1fr;
    border-radius: 0% 25% 0% 25%;
}

section#testimony > .container > .commentBlock > .sandra {
    display: grid;
    margin-left: 20px;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

section#testimony > .container > .commentBlock > .commentText {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    color: rgba(62, 63, 67, 1);
}

section#testimony > .container > .commentBlock > .stars {
    margin-left: 20px;
}

section#testimony > .container > .commentBlock > .sandra > .woman {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    grid-row: 1/3;
    margin-right: 10px;
}

section#testimony > .container > .commentBlock > .sandra > .sandraName {
    margin: 0px;
    grid-column: 2/3;
    font-size: 12px;
    font-family: Nunito;
    font-weight: 600;
    color: rgba(175, 175, 175, 1);
}

section#testimony > .container > .commentBlock > .sandra > .sandraWork {
    margin: 0px;
    grid-column: 2/3;
    font-size: 12px;
    font-family: Nunito;
    font-weight: 600;
    color: rgba(175, 175, 175, 1);
}

section#testimony > .container > .navStage {
    grid-column: 3/4;
    margin: 20px 0px 0px auto;
}

section#testimony > .container > .navStage > .Stage {
    display: inline-block;
    height: 8px;
    width: 40px;
    border-radius: 8px;
    background-color: #e5e5e5;
    margin-left: 15px;
}

section#testimony > .container > .navStage > .activeStage {
    display: inline-block;
    height: 8px;
    width: 40px;
    background-color: #daa520;
    border-radius: 8px;
}

section#subscribe {
    display: grid;
    margin: 120px 0px;
    grid-template-columns: auto 1fr;
    align-items: center;
    font-family: Nunito;
    font-size: 18px;
}

section#subscribe > #textBlock {
}

section#subscribe > #textBlock > .textHeader {
    margin: 0px;
    font-weight: 700;
}

section#subscribe > #textBlock > .subText {
    margin: 0px;
    font-weight: 400;
}

section#subscribe > #inputBlock {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-self: end;
}

section#subscribe > #inputBlock > .input {
    height: 40px;
    width: 330px;
    padding-left: 20px;
    font-size: 16px;
    border: 1px solid #daa520;
    border-radius: 4px 0px 0px 4px;
    box-sizing: border-box;
}

section#subscribe > #inputBlock > .subButtondiv {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 120px;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    background-color: rgba(218, 165, 32, 1);
    color: white;
    border-radius: 0px 4px 4px 0px;
}
